---
- hosts: frontend
  become: true

  tasks:

    - name: Update packages
      yum:
        name: "*"
        state: latest

    - name: Enable nginx Amazon Linux extra repo
      command: amazon-linux-extras enable nginx1
      args:
        creates: /etc/yum.repos.d/amzn2extra-nginx1.repo

    - name: Clean yum metadata
      command: yum clean metadata

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Ensure nginx runtime directory exists
      file:
        path: /run/nginx
        state: directory
        owner: nginx
        group: nginx
        mode: '0755'

    - name: Ensure log directory exists
      file:
        path: /var/log/nginx
        state: directory
        owner: nginx
        group: nginx
        mode: '0755'

    - name: Apply real nginx reverse proxy config
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
      notify: restart nginx

    - name: Start nginx service
      service:
        name: nginx
        state: started
        enabled: true

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted
